$cWhite: white;
$cBlack: black;

body {
    height: 100vh;
    position: relative;

    .adress-top {
        margin-top: 5rem;
        text-align: center;
        font-size: 2.5rem;
    }

    form {
        font-size: 2rem;
        text-align: center;


        label {
            display: inline-block;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            input {
                margin: 0 auto;
                font-size: 1rem;
                padding: 0.25rem 0 0.25rem 0.5rem;
                width: 18.75rem;
                border: 0.0625rem solid #ccc;
                border-radius: 0.3125rem;
                vertical-align: middle;
            }

            & .btn {
                display: inline-block;
                cursor: pointer;
                background-color: $cWhite;
                font-weight: 37.5rem;
                padding: 0.625rem 2.5rem;
                border: 1px solid $cBlack;
                transition: all 0.3s;
                border-radius: 0.3125rem;

                &.float:hover {
                    background-color: $cBlack;
                    border-radius: 0.3125rem;
                    color: $cWhite;
                    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    #result {
        margin-top: 8.5rem;
        font-size: 1.2rem;
        color: #333;
        text-align: center;
    }
}